<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>OLBOOKSTORE REST</title>
</head>
<body>
<h2>OLBOOKSTORE REST API</h2>
<br>
<h4>{host}/publishers</h4>
<p>/publishers/{id}</p>
<br>
<h4>{host}/authors</h4>
<p>/authors/{id}</p>
<br>
<h4>{host}/books</h4>
<p>/books/{id}</p>
<p>/books?publisherId</p>
<p>/books?authorId</p>
<p>/books?title</p>
<p>/books?isbn</p>
<br>
<h4>{host}/warehouses</h4>
<p>/warehouses/{id}</p>
<p>/warehouses/{id}/books</p>

<h4>{host}/wh-books</h4>
<p>/wh-books/{id}</p>
<p>/wh-books?warehouseId</p>
<br>
<h4>{host}/customers</h4>
<p>/customers/{id}</p>
<br>
<h4>{host}/transactions</h4>
<p>/transactions/{id}</p>
<br>
<h4>{host}/transaction-items</h4>
</body>
</html>
